In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [3]:
train_data = pd.read_csv("train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data = pd.read_csv("test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
fare_1 = train_data["Fare"]
print(fare_1)

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64

In [6]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of women who survived: 0.7420382165605095
% of men who survived: 0.18890814558058924

In [7]:
Q = train_data.loc[train_data.Embarked == 'Q']["Survived"]
rate_Q = sum(Q)/len(Q)

print("% of Q who survived:", rate_Q)

C = train_data.loc[train_data.Embarked == 'C']["Survived"]
rate_C = sum(C)/len(C)

print("% of C who survived:", rate_C)

S = train_data.loc[train_data.Embarked == 'S']["Survived"]
rate_S = sum(S)/len(S)

print("% of S who survived:", rate_S)

% of Q who survived: 0.38961038961038963
% of C who survived: 0.5535714285714286
% of S who survived: 0.33695652173913043

In [8]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex",  "SibSp", "Parch", "Fare", "Embarked"]
X = train_data[features]
X_test = test_data[features]



X.loc[X.Sex == "male", "Sex"] = 1
X.loc[X.Sex == "female", "Sex"] = 2

X_test.loc[X_test.Sex == "male", "Sex"] = 1
X_test.loc[X_test.Sex == "female", "Sex"] = 2


X.loc[X.Embarked == "C", "Embarked"] = 1
X.loc[X.Embarked == "Q", "Embarked"] = 2
X.loc[X.Embarked == "S", "Embarked"] = 3
X.loc[X.Embarked.isnull(), "Embarked"] = 0

X_test.loc[X_test.Embarked == "C", "Embarked"] = 1
X_test.loc[X_test.Embarked == "Q", "Embarked"] = 2
X_test.loc[X_test.Embarked == "S", "Embarked"] = 3
X_test.loc[X_test.Embarked.isnull(), "Embarked"] = 0

C:\Users\Priya\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [9]:
X_test.isnull().values.any()
check_for_nan = X_test.isnull().sum()
print (check_for_nan)

X_test.loc[X_test.Fare.isnull(), "Fare"] = 0

Pclass      0
Sex         0
SibSp       0
Parch       0
Fare        1
Embarked    0
dtype: int64

In [10]:
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('my_submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!